#image {					/*id of avatar */
    float: left;
    width: 230px;
    height: 250px;
}
p{
	text-align: justify;
	font-size: 18px;
	color: #191970;
}
h1 ,p, li, h3{
	font-family: Verdana;
}
li{
	color:#A0522D;
}
#second{text-align: justify;
	font-size: 20px;
	color: #006400;
}
h1,h3
{
	color:#BC8F8F;
}
h2{
	color: #696969;
}
.hsecond{
	color: #4682B4;
}